// Variables
$max-width: 600px;
$border-color: #ccc;
$border-radius: 5px;
$action-bg: #007bff;
$action-color: #fff;
$action-disabled-bg: #ccc;
$action-disabled-color: #000;
$stage-gray: #ccc;
$stage-blue: #007bff;

// Base Styles
body {
  margin: 0;
  padding: 0;
  font-family: 'Vazir', Arial, sans-serif;
  height: fit-content;
  background-color: #f2f2f2;
  text-align: right;
  direction: rtl;

  button, *::placeholder {
    font-family: 'Vazir', Arial, sans-serif;
  }
}

// Main Content
main {
  margin: 30px 0;
  min-height: 76vh;
  text-align: right;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 1.2rem;
    padding: 0 16px;
  }
}

// Form Wizard
.form-wizard {
  max-width: $max-width;
  width: 100%;
  padding: 12px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: #fff;
  margin: 0 16px;
  height: fit-content;
}

@media screen and (max-width: 768px) {
    .form-wizard {
        max-width: $max-width;
        width: 80%;
    }
}

.step {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;
  }
}

.step-heading {
  font-size: 18px;
  margin-bottom: 10px;
}

.step-heading-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  button.add {
    background-color: #deb100;
    padding: 3px 20px;
    height: 40px;
  }
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-sizing: border-box;
}

.actions {
  overflow: hidden;
}

button {
  padding: 7px 20px;
  font-size: 16px;
  background-color: $action-bg;
  color: $action-color;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;

  &:first-child {
    float: left;
    background-color: $action-disabled-bg;
    color: $action-disabled-color;
  }
}

// Form Wizard Stages Display
.stage-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
  text-align: right;

  .stage-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    background-color: $stage-gray;
    border: 3px solid $stage-gray;
    position: relative;

    &::before {
      content: attr(data-stage);
      display: block;
      line-height: 20px;
      color: $stage-gray;
      font-weight: bold;
      text-align: center;
      position: absolute;
      top: -25px;
      left: 50%;
      white-space: nowrap;
      transform: translateX(-50%);
    }

    &.completed {
      background-color: #fff;
      border-color: $stage-blue;
      color: #fff;

      &::before {
        color: $stage-blue;
      }
    }

    &.active-circle {
      background-color: $stage-blue;
      border-color: $stage-blue;
      animation: fillStageActive 0.5s linear forwards;

      &::before {
        color: $stage-blue;
      }
    }

    &.not-completed {
      background-color: $stage-gray;
      border-color: $stage-gray;

      &::before {
        color: $stage-gray;
      }
    }

    &.in-progress {
      border-color: $stage-blue;
      animation: fillStageCompleted 0.5s linear forwards;

      &::before {
        color: $stage-blue;
      }
    }
  }
}

.stage-half-line, .stage-line {
  flex: 1;
  height: 2px;
  background-color: #ccc;
  margin: 0;
  position: relative;
  background-color: #ccc;

  &.active-line {
    background-color: $stage-blue;
    animation: fillLine 0.5s linear forwards;
  }
}

@keyframes fillStageCompleted {
  0% {
    background-color: $stage-gray;
  }

  100% {
    background-color: $stage-blue;
  }
}

@keyframes fillStageActive {
  0% {
    background-color: $stage-gray;
    border-color: $stage-gray;
  }

  100% {
    background-color: $stage-blue;
    border-color: $stage-blue;
  }
}

@keyframes fillLine {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

// Additional Styles
.bold {
  font-weight: bold;
}

// Header Styles
header {
  background-color: #fff;
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(202, 202, 202, 0.781);
  padding: 10px;
  text-align: right;

  .logo {
    margin-left: 20px;
    height: fit-content;
    padding: 0;

    img {
      width: 100px;
      margin: 0;
      padding: 0;
    }
  }

  .header-links {
    display: flex;
    align-items: center;

    li {
      list-style: none;
      margin-left: 20px;

      a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
      }
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
    margin-right: 20px;
  }
}

// Sidebar Styles
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #fff;

    li {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  header .header-links {
    display: none;
  }

  header .hamburger {
    display: block;
    color: #000;
  }

  .menu {
    display: none;
    width: 100%;
    text-align: center;

    li {
      border-bottom: 1px solid #666;
    }

    li:last-child {
      border-bottom: none;
    }
  }

  .sidebar {
    &.active {
      .menu {
        display: flex;
        flex-direction: column;
      }
    }

    &.active {
      transform: translateX(0);
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 998;

    &.active {
      display: block;
    }
  }
}

// Footer Styles
footer {
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(202, 202, 202, 0.781);
  text-align: right;

  .footer-content {
    display: flex;
    flex-direction: column;

    .footer-desktop {
      display: none;
    }

    .footer-mobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .footer-desktop-item,
      .footer-mobile-item {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
          margin-right: 5px;
        }
      }

      .footer-mobile-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;

        i {
          margin-right: 0px;
        }
      }
    }
  }

  .footer-address {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;

    .footer-content {
      .footer-desktop {
        display: flex;
        gap: 30px;

        .footer-desktop-item {
          text-decoration: none;
          color: #000;
          font-weight: bold;
          cursor: pointer;
          transition: .3s ease all;
          i {
            margin-left: 7px;
          }

          &:hover {
            color: #2b26ae;
          }
        }
      }

      .footer-mobile {
        display: none;
      }
    }

    .footer-address {
      display: block;
    }
  }
}

// Contract List and Modal Styles
.contract-list {
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: 60%;
  overflow-y: auto;

  form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  label {
    margin-bottom: 5px;
  }

  input, textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

// Modal Styles
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

// Header and Contract Item Styles
.header-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  background-color: #5c8bbf;
  border-radius: 10px 10px 0 0;
}

.contract-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0px;
  margin: 10px;
  position: relative;

  h2 {
    cursor: pointer;
    font-size: 1.1rem;
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  p {
    margin: 8px 0;

    &:first-child {
      font-weight: bold;
      position: relative;
    }
  }

  .edit-icon,
  .delete-icon {
    margin-right: 8px;
    cursor: pointer;

    &:hover {
      color: #007bff;
    }
  }

  .content-text {
    padding: 10px 16px;
  }
}
